<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Testpage2 by gbinal</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Testpage2</h1>
        <p>2nd page creation pilot</p>

        <p class="view"><a href="https://github.com/gbinal/testpage2">View the Project on GitHub <small>gbinal/testpage2</small></a></p>


        <ul>
          <li><a href="https://github.com/gbinal/testpage2/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/gbinal/testpage2/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/gbinal/testpage2">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
